header {
    height: 3.8em;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1f1f25;
    position: relative;
}

.app-navbar {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 300px;
}
header div img{
    width: 7em;
}
.app-navbar>a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #878787;
}
.app-navbar>.navlink {
    width: 112px;
}

.app-navbar>.navlinks {
    width: 85px;
}

.usflag {
    max-width: 30px;
    height: 20px;
    border-radius: 4px;
}